.info-card{
    padding: 0 5px;
    
}
.primary{
    background: linear-gradient(75deg , #19d3A3 , #0fcfec);
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
}
.dark{
    background:  #3A4256;
}
.info-icon{
    font-size: 3em;
    margin-right: 10px;
}
.info-container{
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}