.header-container{
    height: 800px;
    position: relative;
    background: url(../../../images/Chair-bg.png);
    background-size: cover;
}
.header-container:after{
    height: 720px;
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    right:0;
   background: #3A4256;
   z-index: -50;
   color: white;
}

