.contact{
    position: relative;
    background: url(../../../images/appointmentBg.png);
    background-position: center;
    padding: 50px;
    width: 100%;
    z-index: 2;
   
}
.contact:before{
   content: " ";
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
   background: rgb(36 , 41 , 73);
   opacity: .9;
}